<#include "/common/layout.html">
<@header>
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
    <section class="content-header">
     <!--   <h1>
            <small>welocome</small>
        </h1> -->
    </section> 
    <div style="text-align:center">
        <p class="copyright"><h2>捷顺测试平台©JIESHUN</h2></p>
        
    </div>

        <p><h4>更新说明：</h4></p>
        <p><h5>------------------>>2019.01.21<<------------------</h5></p>
		<p>	
          <ul>
        	<li>1、新增性能基线库录入功能</li>
        	<li>2、调整页面样式</li>
        	<li>3、新增数据库脚本：performance表</li>
          </ul>
        </p>
</div><!-- /.content-wrapper -->

</@body>
<@footer>
</@footer>